@charset "ISO-8859-1";

     body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            
        }
        
      .container {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: black;
            text-align: center;
            margin-bottom: 30px;
            font-family: 'Roboto', Arial, sans-serif;
  			font-weight: 700;
        }

        h2 {
            color: black;
            margin-bottom: 20px;
             font-family: 'Lobster', cursive;
 			 font-size: 24px;
        }
        
        h3 {
 font-family: 'Lobster', cursive;
 			 font-size: 24px;
}

        .profile {
            text-align: center;
            margin-bottom: 30px;
        }

        .profile img {
            width: 200px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        footer {
            text-align: center;
            margin-top: 50px;
            color: #6c757d;
        }